/*====================
=======Structure======
======================*/



header{
     width:100%; 
     
}

main{
      width: 100%;             
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}


/*====================
========Header=========
======================*/

.header-top{
    background: #E6E6E6;
    padding: 0.5rem 5%;
    width: 90%;
}

.header-top-featured-news{
    width: 85%;
}

.header-top-featured-news ul{
    display: flex;
    justify-content: space-between;
}

.header-top-featured-news ul li:first-child{
    color: #CD0000;
    font-weight: bold;
    text-transform: uppercase;
}

.header-top-featured-news ul li{
    font-size: 0.8rem;
}

.header-top-featured-news ul li:not(:first-child):not(:last-child)::after {
    content: ' - ';
    padding-left: 0.5rem;
}

.header-top-editions{
    margin-left: auto;
    width: 55%;
}

.header-top-editions ul{
    display: flex;
    justify-content: space-between;
}

.header-top-editions ul li{
    font-size: .7rem;  
}

.header-top-editions ul li:nth-child(1)::after,
.header-top-editions ul li:nth-child(2)::after{
    content: ' | ';
    padding-left: 0.5rem;
}

.header-main{
    background: #CD0000;
    padding: 1% 5%;
    text-align:center;
    width: 90%;
}

.header-main-menu-button{
    width: max-content;
}

.header-main-menu-button svg{
    width: 3rem;
}

.header-main-menu-button svg path{
    fill: white;
}


.header-main-logo svg path{
    fill: white;
}

.header-main-users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 70%;
}

.header-main-users-login{
    margin-right: 0.5rem;
}

.header-main-users-login button{
    background: hsl(0, 0%, 90%);
    border: none;
    display: flex;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.header-main-users-login button span{
    margin-right: 0.5rem;
    vertical-align: super;
}

.header-main-users-login button svg{
    width: 1.5rem;
}

.header-main-users-register button{
    background:#FFC700;
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    border: none;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    border-radius: 0.2rem;
}


.header-menu{
    background: #E6E6E6;
    margin-top: 0.2rem;
    border-bottom:hsl(0, 0%, 66%) solid 2px;
    width: 90%;
    padding: 0.2rem 5%;
}

.header-menu ul{
    display:flex;
    justify-content: space-between;
    padding: 0.3rem;
    align-items: center;
}

.header-menu ul li{
    color: hsl(0, 0%, 20%);
    font-weight: 700;
    font-family: "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
}

.header-menu ul li svg{
    width: 1.5rem;
}


/*====================
========Ads==========
======================*/

.ad{
    margin: 1rem auto;
    width: max-content;
}

.ad.sticky{
    position:sticky;
    top: 1.5rem;
}



/*====================
========News==========
======================*/

.home{
    margin: 0.5rem auto;
    width: 90%;
}

.news{
   margin-bottom: 1rem;
}

.news-category{
    margin: 0.3rem 0;
}

.news-category span{
    color: hsl(0, 100%, 40%);
    font-size: .85rem;
    font-weight: 600;
    text-transform: uppercase;
}

.news-title h2{
    font-weight: 600;
    font-size: 2em;
}

.news-title h3{
    font-weight: 600;
    font-size: 1.5rem;
}

.news-title h4{
    font-weight: 600;
    font-size: 1.3rem;
}

.news-title h2:hover{
    color: hsl(0, 100%, 40%);
}

.news-title h3:hover{
    color: hsl(0, 100%, 40%);
}

.news-title h4:hover{
    color: hsl(0, 100%, 40%);
}

.news-description{
    margin: 0.5rem 0;
}

.news-author{
    margin: 0.5rem 0;
}

.news-author span{
    color: hsl(0, 0%, 33%);
    font-weight: 600;
    font-size: 0.9rem;
}